@custom-media --xsmall (width <= 320px);
@custom-media --small (width > 320px) and (width <= 544px);
@custom-media --medium (width > 544px) and (width <= 700px);
@custom-media --large (width > 700px) and (width <= 1280px);

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(20px, auto);
  margin: 0 14rem;
}

/* .menu-wrapper {
  margin-bottom: 3rem;
} */

@media (--xsmall) {
  .menu-wrapper,
  .form-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .container {
    margin: 0;
  }
  .form {
    padding: 1.5rem 0;
  }
}

@media (--small) {
  .menu-wrapper,
  .form-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .container {
    margin: 0 1rem;
  }
  .form {
    padding: 1.5rem 0;
  }
}

@media (--medium) {
  .menu-wrapper,
  .form-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .container {
    margin: 0 2rem;
  }
  .form {
    padding: 1.5rem 0;
  }
}

@media (--large) {
  .container {
    margin: 0 3rem;
  }
}