.menu {
  padding: 1.5rem 1rem;
  /* height: 100%; */
  margin: 0;
  list-style: none;
  background: linear-gradient(93.24deg, #C65757 -28.44%, #74C64E 98.2%);
  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background: #D4D731;
    background-blend-mode: soft-light;
    margin-bottom: 1rem;
    &_select {
      background: #d56e00;
    }
  }
  &__close {
    position: relative;
    padding: 0;
    border: 0;
    width: 3.75rem;
    height: 3.75rem;
    background: linear-gradient(219.84deg, #2949BC -5.24%, rgba(210, 37, 47, 0) 114.5%);
    cursor: pointer;
    &:hover {
      box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
    }
    &::after {
      content: '';
      left: 30%;
      position: absolute;
      width: 25.49px;
      height: 0.23px;
      border: 2px solid #000000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: matrix(0.76, 0.77, -0.56, 0.75, 0, 0);
    }
    &::before {
      content: '';
      left: 30%;
      position: absolute;
      width: 25.3px;
      height: 0.23px;
      border: 2px solid #000000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: matrix(-0.76, 0.77, -0.56, -0.75, 0, 0);
    }
  }
  &__link {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.25rem;
    padding: .75rem 0 .75rem 1rem;
    flex-grow: 2;
    &:hover {
      box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
    }
  }
  &__pick {
    display: inline-block;
    width: 3.75rem;
    background: #b29d56;
    background-blend-mode: soft-light;
    font-size: 2rem;
    line-height: 2.25rem;
    border: 0;
    cursor: pointer;
    color: #b29d56;
    font-family: 'Press Start 2P', cursive;
    outline: none;
    &:hover {
      color: rgba(#000, 0.5);
    }
    &_select {
      color: #000;
    }
  }
}
