ul.js-menu
  each item in items
    li.js-menu__item
      a(class = "js-menu__link" href = item.link data-action="pick")= item.name
      button(class = "js-menu__close close" type = "button" aria-label="Close")
        span(aria-hidden='true' data-action='remove') &times;
