@import '../form/form.css';
@import '../menu/menu.css';
@import '../header/header.css';

:root {
  --fontSize: 1rem;
}

:any-link {
  background-color: yellow;
}

.body {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 300px;
}

.header {
  grid-column: 1/-1;
  clear: both;
}