.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem 1rem;
  background: #B29D56;
  box-sizing: border-box;
  &__group{
    margin-bottom: 1rem;
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2rem;
    line-height: 2.25rem;
    padding: .75rem 0 .75rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Press Start 2P', cursive;
    border: 0;
  }
  &__btn {
    box-sizing: border-box;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    background: rebeccapurple; 
    line-height: 2rem;
    border: 0;
    color: white;
    max-width: 10rem;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    &:hover {
      background: rgba(rebeccapurple, 0.8);
    }
  }
}

.form__hint {
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translateY(-50%);
  padding: 5px 10px;
  opacity: 0;
  transition: 0.3s;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}

.form__hint::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #dc3545 transparent transparent;
}

.form__hint.active {
  opacity: 0.6;
}