form.js-form
  div.form-group
    input(type="text" class="form-control" placeholder="Название" name="name")
  div.form-group
      input(type="url" class="form-control" placeholder="url" name="link")
  button(type="submit" class="js-form__btn btn btn-default") Добавить
    div(class='js-form__hint bg-danger') Заполните все поля формы<
