form.form
  div.form__group
    input(type="text" class="form__input" placeholder="Название" name="name")
  div.form__group
      input(type="url" class="form__input" placeholder="url" name="link")
  button(type="submit" class="form__btn btn btn_default") Добавить
    div(class='form__hint bg-danger') Заполните все поля формы
